<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pet">

<insert id="petinfo" parameterType="petDto">
       INSERT INTO
        pet(
           pet_no,
            pet_name,
            pet_gender,
            pet_kind,
            pet_type,
            pet_age ,
            pet_size,
            pet_total,
            pet_intro,
            pet_vaccin,
            pet_toilet,
            when
            )VALUES(
            pet_seq.nextval,
             #{pet_name},
             #{pet_gender , jdbcType=VARCHAR},
             #{pet_kind},
             #{pet_type , jdbcType=VARCHAR},
             #{pet_age},
             #{pet_size , jdbcType=VARCHAR},
             #{pet_total},
             #{pet_intro , jdbcType=VARCHAR},
             #{pet_vaccin , jdbcType=VARCHAR},
            #{pet_toilet , jdbcType=VARCHAR},
            sysdate
            )
            
    </insert>
    
    <select id="getList" resultType="petDto">
    SELECT * FROM pet
    
    
    
    </select>
    
    
    
    <update id="petUpdate" parameterType="petDto">
      
        UPDATE PET SET
            pet_name = #{pet_name}
            ,pet_gender = #{pet_gender}
            ,pet_kind  = #{pet_kind}
            ,pet_type = #{pet_type}
            ,pet_age  = #{pet_age}
            ,pet_size = #{pet_size}
            ,pet_total = #{pet_total}
            ,pet_intro = #{pet_intro }
            ,pet_vaccin = #{pet_vaccin}
            ,pet_toilet = #{pet_toilet})
        where
            member_id = #{member_id}
    </update>
    
<!-- 비번체크 -->
   <select id="checkpw" resultType="memberDto">
   SELECT MEMBER_PW FROM MEMBER
   WHERE MEMBER_ID = #{member_id}
   </select>
   
    </mapper>