<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reservation">
	
	<select id="getSeq"  resultType="int">
		select res_seq.nextval from dual
	</select>
	
	<select id="getMyPet" parameterType="String" resultType="petDto" > 
		select * from pet where member_id =#{member_id}
	</select>
	
	<select id="getSitter" parameterType="String" resultType="pre_resDto">
		select * from pre_res where member_id=#{member_id}
	</select>
	
	<insert id="reserve" parameterType="reserveDto">
	 insert into reservation(
		 res_no,
		 res_name,
		 res_pet,
		 res_petsitter,
		 res_date,
		 res_post,
		 res_Baddr,
		 res_Eaddr,
		 res_pack,
		 singularity,
		 location,
		 common_porch,
		 access_method,
		 cctv,
		 safety_door,
		 parking,
		 useparking,
		 res_price,
		 pre_no
	 )values(
		 res_seq.nextval,
		 #{res_name},
		 #{res_pet},
		 #{res_petsitter},
		 #{res_date},
		 #{res_post},
		 #{res_Baddr},
		 #{res_Eaddr},
		 #{res_pack},
		 #{singularity},
		 #{location},
		 #{common_porch},
		 #{access_method},
		 #{cctv},
		 #{safety_door},
		 #{parking},
		 #{useparking},
		 #{res_price},
		 #{pre_no}
	 )
	</insert>
	
	
<delete id="del_res" parameterType="String">
		DELETE FROM pre_res WHERE member_id = #{member_id};
	
	</delete>

	
</mapper>